body {
    background-color: rgb(238, 236, 236);

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;


}

.navbar-ul {
    margin-left: 48%;
}

.nav-conatainer {

    padding-left: 3%;
    padding-right: 1%;
   
    background: #1E40AF;

}

ul li {
    padding: 1px;
}

.hero-section {
    text-align: center;
    color: white;
    padding-top: 20px;
    background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 0.6) 28%, rgba(0, 212, 255, 1) 100%);
    position: relative;
    overflow: hidden;
}

.hero-section ::before {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.2;
    width: 100%;
    height: 100%;
    background: url(https://images.unsplash.com/photo-1600585154340-be6161a56a0c);

}

.hero-section h1 {
    font-size: 3.2rem;
    font-weight: 600;
    z-index: 1;
    position: relative;
}

.section-title {
    font-size: 2.3rem;
    font-weight: 600;
    color: #1E40AF;
    margin-bottom: 20px;
}
.skill-card img{
    width: 50px;
    height: 50px;

}
.skill-card{
    align-items: center;
    padding: 10px;
    
}